<h1>Create category</h1>

<form action="/category/update/<%=category.id%>" method="post">
  <input type="text" name="name" placeholder="category name" value="<%=category.name%>">
  <button type=submit>update category</button>
</form>